services:
  # This allows you to access the emails sent by weird at localhost:8091
  smtp4dev:
    image: rnwood/smtp4dev
    ports:
      - '8091:80'
      - '2525:25'

  redis:
    image: redis:alpine
    ports:
      - 7634:6379
    command: redis-server --appendonly yes
    environment:
      http_proxy:
      https_proxy:
    volumes:
      - redis:/data

  # This allows you to access the redis database UI at localhost:9881
  redis-commander:
    image: ghcr.io/joeferner/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "9881:8081"
    user: redis

  set-rauthy-volume-owner:
    image: alpine
    command: chown -R 10001:10001 /app/data
    volumes:
      - rauthy:/app/data

  rauthy:
    image: ghcr.io/sebadob/rauthy:0.25.0-lite
    depends_on:
      - set-rauthy-volume-owner
      - smtp4dev
    environment:
      PUB_URL: localhost:9523
      DATABASE_URL: 'sqlite:/app/data/rauthy.db'
      BOOTSTRAP_ADMIN_EMAIL: admin@localhost.de
      BOOTSTRAP_ADMIN_PASSWORD_PLAIN: adminadmin
      COOKIE_MODE: danger-insecure
      COOKIE_SET_PATH: false
      SMTP_URL: smtp4dev
      SMTP_DANGER_INSECURE_PORT: 25
      SMTP_USERNAME: dummy
      SMTP_PASSWORD: dummy
      SMTP_FROM: rauthy@localhost.de
      SMTP_DANGER_INSECURE: true
      EMAIL_SUB_PREFIX: Weird.One
      LOG_LEVEL_ACCESS: Verbose
      SESSION_LIFETIME: 27776000
      SESSION_TIMEOUT: 27776000
      http_proxy:
      https_proxy:
    ports:
      - 8921:8080
    volumes:
      - rauthy:/app/data

volumes:
  rauthy:
  redis:
