<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="{{handle}}" />

    <style>
        body {
            background-color: lightgray
        }

        .avatar {
            width: 5em;
        }

        .social-icons {
            display: flex;
            gap: 0.5em;
        }

        .social-icons a {
            text-decoration: none;
        }

        .social-icon {
            width: 25px;
            height: 25px;
        }
    </style>
</head>

<body>
    <main>
        <section>
            <figure class="avatar-figure">
                <img class="avatar" src="/avatar" alt="{{display_name}} avatar" />
            </figure>

            <h1>{{display_name}}</h1>

            <div class="social-icons">
                <a href="{{instance_info.url}}/{{handle}}" rel="me alternate" target="_blank" class="link"
                    title="Weird">
                    <img src="https://weird.one/favicon.png" class="social-icon" />
                </a>
                {% for link in social_links %}
                <a rel="me" title="{{link.label}}" href="{{link.url}}" target="_blank" class="link">
                    <img src="{{link.icon}}" alt="icon" class="social-icon" />
                </a>
                {% endfor %}
            </div>


            {% if bio %}
            {{bio | markdown}}
            {% endif %}

            {% if tags %}
            <h1>Tags</h1>
            <ul class="tags">
                {% for tag in tags %}
                <li>
                    <a href="{{instance_info.url}}/people#{{tag}}" target="_blank" class="tag">
                        {{tag}}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>

        <section class="links">
            <h1>Links</h1>
            <ul>
                <li>
                    <a href="{{instance_info.url}}/{{handle}}" rel="me alternate" target="_blank" class="link">
                        Weird
                    </a>
                </li>
                {% for link in links %}
                <li>
                    <a rel="me" href="{{link.url}}" target="_blank" class="link">
                        {{link.label or link.url}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>


        {% if pages %}
        <section class="links">
            <h1>Pages</h1>
            <ul>
                {% for page in pages %}
                <li>
                    <a href="/{{page.slug}}" class="link">
                        {{page.name or page.slug}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
</body>

</html>
