@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.input,
textarea,
.input-group {
	@apply !border-white !bg-purple-950/10 !text-white;
}

input::placeholder {
	@apply !text-white/70;
}

.card {
	@apply !rounded-xl !border-[1px] !border-black !bg-pink-300/10;
	backdrop-filter: blur(2px)
}

.modal.contents .card {
	@apply !bg-purple-950;
}

.slide-toggle-track {
	@apply !bg-white/20;
}

[aria-checked='true'] .slide-toggle-track {
	@apply !bg-success-500/75;
}
